body {
    background-color: antiquewhite;
}

header{
    text-align: center;
    text-justify:center;
}

.logo {
    display: inline;
    width: 50px;
    margin-right: 20px;
}

.welcome {
    display: inline;
}
